.likesInfo{
          display: flex;
    flex-direction: column;
    position: absolute;
    left: 67%;
    top: 59%;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 7px;
}